@color-text: #354657;
@color-btn-inactive: #946FD3;

.wraper{
    width: 80%;
    margin: 0 auto;
    color: @color-text;
    h1{
        font-family: Raleway;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        border-bottom: 1px solid #E2E2E2;
        padding-bottom: 18px;
    }
    .user-info {
        label:first-of-type{
            display: inline-block;
            width: 200px;
        }
        input:not([type="radio"]) {
            width: 384px;
        }
        .btn{
            font-weight: 700;
            width: 206px;
            height: 54px;
            color: #946FD3;
            border: 2px solid #946FD3;
            box-sizing: border-box;
            border-radius: 50px;
        }
        button:hover {
            background: #946FD3;
            color: white;
        }
    }

}

